  {% block stylesheets %}
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        {% endblock %}
        <table class="table table-sm table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>

  {% for anime in lanime %}
  <th scope="row">1</th>
    <td>{{juke.nom}};<td>
   {% endfor %}
    </tr>
  </tbody>
</table>